

	<div class="row">
		<div style="margin:0% auto; max-width:300px;">
			<div class="card-panel grey lighten-4 z-depth-4 center">
				<form action="/user/update/<%= user.id %>" method="POST" accept-charset="utf-8" class="form-new">
					<div class="row">
						<div class="User-image col-lg-2"><img class="User-edit-img circle" src="/images/avatars/default_user.png"></div>
					</div>
					<div class="row margin">
						<div class="input-field col s12">
							<i class="mdi-social-person-outline prefix"></i>
	            			<input value="<%= user.name %>" name="name" id="name" type="text" class="validate" autofocus>
	            			<label for="name" class="center-align">Nombre</label>
						</div>
					</div>
					<div class="row margin">
			        	<div class="input-field col s12">
			            	<i class="mdi-communication-email prefix"></i>
			            	<input value="<%= user.email %>" name="email" id="email" type="email" class="validate">
			            	<label for="email" data-error="error" data-success="bien!" class="center-align">Email</label>
			          	</div>
        			</div>
					<div class="row margin">
					    <div class="input-field col s12">
					        <i class="mdi-action-lock-outline prefix"></i>
					        <input value="<%= user.phone %>" name="phone" id="phone" type="text" class="validate">
					        <label for="phone">Telefono</label>
					  </div>
	        </div>



    			<div class="row">
    				<div class="input-field col s12">
    					<input type="submit" class="btn waves-effect waves-light col s12" value="Terminar Edicion"/>
    					<input type="hidden" name="_csrf" value="<%=_csrf %>"/>
    				</div>
    			</div>
				</form>
			</div>
		</div>
	</div>
