<section class="Layout-Content row center-lg">
      <div class="card material-table col-lg-10 col-xlg-8">
        <div class="table-header"><span class="table-title">Lista de Turnos</span>
          <div class="actions"><a class="search-toggle waves-effect btn-flat nopadding" href="#"><i class="material-icons">search</i></a></div>
        </div>
        <table id="datatableTurno">
          <thead>
            <tr>
              <th>Dia</th>
              <th>Nombre Turno</th>
              <th class="textCenter">Hora Inico</th>
              <th class="textCenter">Hora Fin</th>
              <th class="textCenter">Cupos</th>
              <th class="textCenter">Participantes</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <% _.each(turnos, function(turno){ %>
            <tr class="Empleados-Item">
              <th><%= turno.dia %></th>
              <th><%= turno.name %></th>
              <th class="textCenter"><%= turno.start %></th>
              <th class="textCenter"><%= turno.end %></th>
              <th class="textCenter">
                <p><%= turno.cupo %></p>
              </th>
              <th class="textCenter"><a class="modal-trigger" href="#modal1" value="<%= turno.id %>" data-link="ajax" >Ver lista</a></th>
              <th>
                <a class="btn-flat Empleado-Edit" href="#Empleado-Modal" value="" data-link="ajax"><i class="material-icons">edit</i></a>
                <form class="Destroy-Button" action="/turnos/destroy/<%= turno.id %>" method="POST" accept-charset="utf-8">
                  <input type="hidden" name="_method" value="Clear"/>
                  <input class="btn-flat material-icons" value="close" type="submit">
                  <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
                </form>
              </th>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>

  </section>

  <%- partial('./modal') %>
  <%- partial('./takesModal') %>
